<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>

  <% @questions.each do |question| %>
    <%= render partial: "questions/question", locals: { question: question } %>
  <% end %>
  <%= paginate(@questions) %>
</div> 